<mat-toolbar>
    <span>App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button  color="primary" (click)="getUserDetails()">User Details</button>
</mat-toolbar>
<mat-card class="my-card">
    <form class="my-form" [formGroup]="myForm" (submit)="onSubmit()">
        <mat-card-content>

            <mat-form-field class="full-width">
                <input matInput formControlName="arrayNum" placeholder="Please enter a number">
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="onAdd()" aria-label="add icon">
                <mat-icon>add</mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="onReset()" aria-label="add icon">
                <mat-icon>refresh</mat-icon>
            </button> -->
            <mat-form-field class="full-width" *ngIf="viewField">
                <input matInput formControlName="value" placeholder="Please enter sum of 5 numbers">
            </mat-form-field>

            <div>
                <span *ngIf="arrValue.length!=0">Entered numbers are</span>
                <span *ngFor="let num of arrValue">
                    {{num}}
                </span>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button  color="primary" type="submit">Submit</button>
            <button mat-raised-button  color="primary" >Reset</button>
        </mat-card-actions>
    </form>
</mat-card>