<mat-toolbar>
    <span>Admin</span>
    <span class="example-spacer"></span>
    <button  (click)="logout()" >
        LogOut
    </button>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>

        <p>admin works!</p>
    </mat-card-content>
</mat-card>