.wrapper {
    margin-left: 200px;
  }
  .content {
    float: right;
    width: 100%;
    background-color: rgb(253, 253, 255);
  }
  .sidebar {
    float: left;
    width: 500px;
    margin-left: -200px;
    background-color: rgb(239, 245, 241);
  }
  .cleared {
    clear: both;
  }

// table {
//   width: 100%;
// }