<p *ngIf="users.length>0"><b><u>LIST OF SELECTED USERS :</u></b></p>
<span class="fontEmoji" *ngFor="let user of users, let i = index">
    {{i+1}}.&nbsp;
    {{user.userName}}
    {{user.dob}}
    {{user.phoneNumber}}
    <br><br>
</span>