<div>
    <div class="margin2percent" fxLayout fxLayoutAlign="center center">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select name="ageFilter" [(ngModel)]="ageFilter">
                <mat-option value="default">Select age group</mat-option>
                <mat-option value="minor">Age &lt;=18</mat-option>
                <mat-option value="major">Age &lt;=18 &amp; &gt;=56</mat-option>
                <mat-option value="elder">Age &gt;=56</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div>
        <button class="margin2percent" mat-raised-button color="primary" (click)="onAgeFilter(ageFilter)">Apply
            Filter</button>
        <button class="margin2percent" mat-raised-button color="primary" (click)="sendData()">Send Data</button>
        <button class="margin2percent" mat-raised-button color="primary" (click)="back()">Back</button>
    </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 margin10">

    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>


    <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob | agepipe }} </td>
    </ng-container>


    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>